{% extends 'base.html' %}
{% load static %}
{% load countries %}

{% block content %}
<div class="position-absolute top-50 start-50 translate-middle">
    <div class="mb-3 text-center fw-light fs-3 text-wrap">Form Registrasi</div>
    <div class="bg-body-secondary rounded border p-4 shadow-sm">
        <form method="POST" id="register-form">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="text" name="username" maxlength="50" autocapitalize="none" autocomplete="username" autofocus="" class="form-control" placeholder="username" required="" id="id_username">
                <label for="id_username">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="password1" maxlength="50" autocomplete="new-password" class="form-control" placeholder="newpassword" required="" id="id_password1">
                <label for="id_password1">Password</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="password2" maxlength="50" autocomplete="new-password" class="form-control" placeholder="pw2" required="" id="id_password2">
                <label for="id_password2">Confirm password</label>
            </div>
            <div class="form-floating mb-3">
                <select name="country" class="form-control" maxlength="50" required="" id="id_country">
                    {% get_countries as countries %}
                    {% for country in countries %}
                        {% if country.name == "Indonesia" %}
                        <option value="{{ country.name }}" selected>{{ country.name }}</option>
                        {% else %}
                        <option value="{{ country.name }}">{{ country.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="id_country">Negara Asal</label>
            </div>
            <div class="d-grid gap-2 mx-auto mt-2 mb-3">
                <button type="submit" form="register-form" class="login_btn btn btn-block btn-success bg-gradient">Create my account</button>
            </div>
        </form>
    
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
            
        <div class="text-center text-body-secondary text-nowrap">Already have an account? <a href="{% url 'authentication:login' %}" class="link-offset-2 link-underline link-underline-opacity-0">Sign in</a></div>
    </div>    
</div>
{% endblock content %}