{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daftar Unduhan</title>
 
</head>
<body>
    <h1>Daftar Unduhan</h1>
    <hr>

    <table>
        <tr>
            <th>Judul</th>
            <th>Waktu Diunduh</th>
            <th>Aksi</th>
        </tr>
    
        {% for tayangan in daftar_unduhan %}
            <tr>
                <td>{{ tayangan.0 }}</td>
                <td>{{ tayangan.2 }}</td>
                <td>
                    <form action="{% url 'download:delete_unduhan' tayangan.1 tayangan.2 %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger">Hapus</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
{% endblock content %}

{% block scripts %}
<script>
    function deleteModal(title) {
        var modal = document.getElementById("favoriteModal");
        judulTayangan.innerHTML = title;
        modal.style.display = "flex";
    }

    window.onclick = function(event) {
        var favoriteModal = document.getElementById("favoriteModal");
        
        if (event.target == favoriteModal) {
            favoriteModal.style.display = "none";
        }
        if (event.target == downloadModal) {
            downloadModal.style.display = "none";
        }
    }
</script>
{% endblock scripts %}