{% extends 'base.html' %}
{% load static %}

{% block meta %}
<style>
    h1 {
        color: #fff;
        text-align: center;
    }
    h2 {
        color: #555;
        text-align: center;
    }
    ul, li {
        list-style: none;
        padding: 0;
    }
    a {
        color: #08f;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    .button {
        display: inline-block;
        background-color: #5C7AEA;
        color: white;
        padding: 10px 20px;
        margin: 5px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .button:hover {
        background-color: #435ebc;
    }
    .info {
        padding: 15px;
        margin-top: 20px;
        border-radius: 4px;
    }
    .info h2, .info p {
        margin-bottom: 10px;
    }
    .info h2 {
        color: #aad;
    }
</style>
{% endblock meta %}

{% block content %}
<body>
    <div class="container">
        <div class="film-details">
            <h1>Judul: {{ series_title }}</h1>
            <h2>Sub Judul: {{ series_title }}</h2> 
            <br><br><br>

            <input type="range" class="form-range" min="0" max="100" id="watchrange">
            <br><br><br>

            <button class="primary">Tonton</button> 
            <br><br><br>

            <h3 style="color: black;">Other Episodes</h3> <br>
            <div class="film-buttons">
                {% for episode in episodes %}
                    <a href="{% url 'show:episode' episode.1 episode.0 %}">
                        <button class="primary">{{ episode.0|add:1 }}</button>
                    </a>
                {% endfor %}
            </div> <br>
            
            <p>Sinopsis Episode: {{ episode.2 }}</p>
            <p>Durasi: {{ episode.3 }}</p>
            <p>URL Episode: {{ episode.4 }}</p>
            <p>Tanggal Rilis Episode: {{ episode.5 }}</p>
        </div>
    </div>
</body>
{% endblock content %} 