{% extends 'base.html' %}
{% load static %}

{% block meta %}
<style>
    h1 {
        color: #fff;
        text-align: center;
    }
    ul, li {
        list-style: none;
        padding: 0;
    }
    a {
        color: #08f;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    .button {
        display: inline-block;
        background-color: #5C7AEA;
        color: white;
        padding: 10px 20px;
        margin: 5px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .button:hover {
        background-color: #435ebc;
    }
    .info {
        padding: 15px;
        margin-top: 20px;
        border-radius: 4px;
    }
    .info h2, .info p {
        margin-bottom: 10px;
    }
    .info h2 {
        color: #aad;
    }
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }
    .modal-content {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        max-width: 500px;
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
    .modal button {
        padding: 10px 20px;
        margin: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .modal button:hover {
        opacity: 0.8;
    }
</style>
{% endblock meta %}

{% block content %}
<body>
    <div class="container">
        <div class="film-details">
            <h1>{{ film_details.judul }}</h1>
            <br><br><br><br><br><br><br><br><br><br><br>
            <input type="range" class="form-range" min="0" max="100" id="watchrange">
            <br><br><br>
            <p>{{ film_details.sinopsis }}</p>
            <br>
            <p>Tanggal Rilis: {{ film_details.release_date_film }}</p>
            <p>Genre: 
                {% for genre in film_details.genres %}
                    {{ genre }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p>Asal Negara: {{ film_details.asal_negara }}</p>
            <p>Durasi: {{ film_details.durasi_film }} mins</p>
            <p>Rating: 4.5/5</p>
            <p>Pemain: 
                {% for pemain in film_details.pemain %}
                    {{ pemain }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p>Penulis Skenario:
                {% for penulis in film_details.penulis %}
                    {{ penulis }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p>Sutradara: {{ film_details.sutradara }}</p>
        </div>        
        <div class="film-buttons">
            <button class="primary">Tonton</button>
            <button type="button" class="primary" onclick="downloadTayangan('{{ film_details.id_tayangan }}')" data-bs-toggle="modal" data-bs-target="#downloadModal">
                Unduh
            </button>
        
            <!-- Modal -->
            <div class="modal fade" id="downloadModal" tabindex="-1" aria-labelledby="downloadModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="downloadModalLabel">Sukses Menambahkan Tayangan ke Daftar Unduhan</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="modalBody">
                            <!-- Text will be inserted here by JavaScript -->
                        </div>
                        <a type="button" class="btn btn-primary" href="{% url 'show:film' film_details.id_tayangan %}">Menuju Film</a>
                    </div>
                </div>
            </div>
        
            <button type="button" class="favorite" onclick="loadModalFavorit()">
                Favorit
            </button>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        </div>

        {% include 'reviews.html' %}
    </div>
</body>

<!-- Load jQuery first -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- Then Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!-- Then Bootstrap's JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    function downloadTayangan(idTayangan) {
        fetch("{% url 'show:insert_unduhan' %}?id_tayangan=" + idTayangan, {
            method: 'GET',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
            }
        })
        .catch(error => console.error('Error:', error));
    }

    document.addEventListener('DOMContentLoaded', function () {
        const dateToday = new Date();
        const dateInSevenDays = new Date(dateToday);
        dateInSevenDays.setDate(dateToday.getDate() + 7);

        const options = { year: 'numeric', month: 'long', day: 'numeric' };
        const formattedToday = dateToday.toLocaleDateString('id-ID', options);
        const formattedSevenDays = dateInSevenDays.toLocaleDateString('id-ID', options);

        const modalBodyText = `Selamat! Anda telah berhasil mengunduh {{ film_details.judul }} dan akan berlaku hingga ${formattedSevenDays}. Cek informasi selengkapnya pada halaman daftar unduhan.`;
        document.getElementById('modalBody').textContent = modalBodyText;
    });

    function loadModalFavorit() {
        fetch('/favorite/list_favorit/')
        .then(response => response.json())
        .then(data => {
            createModal(data.dropdown_options, data.id_tayangan);
        });
    }

    function createModal(options, id_tayangan) {
        // Create modal structure
        let modal = document.createElement('div');
        modal.classList.add('modal', 'fade');
        modal.id = 'dynamicModal';
        modal.innerHTML = `
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="favoriteModalLabel">Tambah ke Daftar Favorit</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="favoriteListDropdown" class="form-label">Judul Daftar Favorit:</label>
                                <select class="form-control" id="dropdown">
                                    ${options.map(option => `<option value="${option.value}">${option.text}</option>`).join('')}
                                </select>
                            </div>
                            <a type="button" class="btn btn-primary" id="addFavorite"">Tambah</a>
                        </form>
                    </div>
                </div>
            </div>
        `;

        // Append modal to body
        document.body.appendChild(modal);

        // Show the modal
        $('#dynamicModal').modal('show');

        document.getElementById('addFavorite').addEventListener('click', function() {
            var dropdownValue = document.getElementById('dropdown').value;
            var redirectUrl = `{% url 'show:insert_favorit' %}?id_tayangan={{ film_details.id_tayangan }}&timestamp=${dropdownValue}`;
            window.location.href = redirectUrl;
        });

        // Remove the modal from DOM after it's hidden
        $('#dynamicModal').on('hidden.bs.modal', function () {
            $(this).remove();
        });
    }
</script>
{% endblock content %} 