<div>
<h3>Bagian Ulasan</h3>

<form method="POST">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="review_text" placeholder>
        <label for="review_text">Ulasan anda</label>
    </div>
    <div class="form-floating mb-3">
        <input type="range" class="form-control" name="rating" placeholder>
        <label for="rating">Rating</label>
    </div>
</form>


Daftar Ulasan
<ul>
    {% for review in reviews %}
    <li>
        <div>
            <p>Username: {{ review[0] }}</p>
            <p>Rating: {{ review[2] }}</p>
            <p>Timestamp: {{ review[1] }}</p>
            <p>Deskripsi: {{ review[3] }}</p>
        </div>
    </li>
    {% endfor %}
</ul>

</div>