<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/buy.css' %}" />
{% endblock meta %}

{% block content %}
<html>
    <head>
        <style>
            th, td {
                padding-right: 15px;
            }
        </style>
    </head>
    <body>
        <h1>Halaman Beli</h1>
        <hr>

        <p>Informasi Paket yang Ingin Dibeli:</p>
        <table>
            <tr>
                <th>Nama</th>
                <th>Harga</th>
                <th>Resolusi Layar</th>
                <th>Dukungan Perangkat</th>
            </tr>

            {% for package in chosen_package %}
            <tr>
                <td>{{ package.Nama }}</td>
                <td>{{ package.Harga }}</td>
                <td>{{ package.Resolusi_Layar }}</td>
                <td>{{ package.Dukungan_Perangkat }}</td>
            </tr>
            {% endfor %}
            
        </table>

        <br>
        <p>Pilih Metode Pembayaran</p>

        <form method="post" action="{% url 'subscription:insert_new_package' %}">
            {% csrf_token %}

            {% for package in chosen_package %}
            <input type="hidden" name="nama_paket" value="{{ package.Nama }}">
            {% endfor %}

            <select name="metode_pembayaran">
                <option value="virtual account">Virtual Account</option>
                <option value="kartu kredit">Kartu Kredit</option>
                <option value="e-wallet">E-Wallet</option>
            </select>
            <button type="submit" class="btn btn-primary">Bayar</button>
        </form>
    </body>
</html>

{% endblock content %}
