<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/subscription.css' %}" />
{% endblock meta %}

{% block content %}
<html>
    <head>
        <style>
            th, td {
                padding-right: 15px;
            }
        </style>
    </head>
    <body>
        <h1>Halaman Kelola Langganan</h1>
        <hr>

        <p>Paket Langganan Aktif Anda:</p>
        <table>
            <tr>
                <th>Nama</th>
                <th>Harga</th>
                <th>Resolusi Layar</th>
                <th>Dukungan Perangkat</th>
                <th>Tanggal Mulai</th>
                <th>Tanggal Akhir</th>
            </tr>

            {% for package in active_package %}
            <tr>
                <td>{{ package.Nama }}</td>
                <td>{{ package.Harga }}</td>
                <td>{{ package.Resolusi_Layar }}</td>
                <td>{{ package.Dukungan_Perangkat }}</td>
                <td>{{ package.Tanggal_Dimulai }}</td>
                <td>{{ package.Tanggal_Akhir }}</td>
            </tr>
            {% endfor %}
        </table>
        

        <br>
        <p>Pilih Paket Lain:</p>
        <table>
            <tr>
                <th>Nama</th>
                <th>Harga</th>
                <th>Resolusi Layar</th>
                <th>Dukungan Perangkat</th>
                <th>Beli</th>
            </tr>
            {% for package in available_packages %}
            <tr>
                <td>{{ package.Nama }}</td>
                <td>{{ package.Harga }}</td>
                <td>{{ package.Resolusi_Layar }}</td>
                <td>{{ package.Dukungan_Perangkat }}</td>
                <td>
                    <a href="{% url 'subscription:show_buy_packages' package.Nama %}">
                        <button class="btn btn-primary">Beli</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>

        <br>
        <p>Riwayat Transaksi:</p>
        <table>
            <tr>
                <th>Nama</th>
                <th>Tanggal Mulai</th>
                <th>Tanggal Akhir</th>
                <th>Metode Pembayaran</th>
                <th>Tanggal Transaksi</th>
                <th>Total Harga</th>
            </tr>
            {% for transaction in transaction_history %}
            <tr>
                <td>{{ transaction.Nama }}</td>
                <td>{{ transaction.Tanggal_Dimulai }}</td>
                <td>{{ transaction.Tanggal_Akhir }}</td>
                <td>{{ transaction.Metode_Pembayaran }}</td>
                <td>{{ transaction.Tanggal_Transaksi }}</td>
                <td>{{ transaction.Harga }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>

{% endblock content %}
