<!DOCTYPE html>

{% extends 'base.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/contributor.css' %}" />
{% endblock meta %}

{% block content %}
<style>
    th, td {
        padding-right: 15px;
    }
</style>
    
<h1>Daftar Kontributor</h1>
<hr>

<form method="GET">
    <input type="checkbox" name="tipe" value="sutradara" {% if 'sutradara' in request.GET.tipe %}checked{% endif %}> Sutradara
    <input type="checkbox" name="tipe" value="pemain" {% if 'pemain' in request.GET.tipe %}checked{% endif %}> Pemain
    <input type="checkbox" name="tipe" value="penulis_skenario" {% if 'penulis_skenario' in request.GET.tipe %}checked{% endif %}> Penulis Skenario
    <button type="submit">Cari</button>
</form>

<table class="table">
    <tr>
        <th>Nama</th>
        <th>Tipe</th>
        <th>Jenis Kelamin</th>
        <th>Kewarganegaraan</th>
    </tr>

    {% for contributor in contributors %}
    <tr>
        <td>{{ contributor.nama }}</td>
        <td>{{ contributor.tipe }}</td>
        <td>{{ contributor.jenis_kelamin|yesno:"perempuan,laki-laki" }}</td>
        <td>{{ contributor.kewarganegaraan }}</td>

    {% empty %}
        <td>Tidak ada kontributor yang ditemukan.</td>
        <td></td>
        <td></td>
        <td></td>
        </tr>
    {% endfor %}

</table>

{% endblock content %}