<!DOCTYPE html>
<html>
<head>
    <title>Ulasan</title>

{% block content %}
<body>
    <div class="container">
        <center><h1>Ulasan {{ judul.1 }}</h1></center>
        <div class="review-form">

      <div class="review-form">
            <h2>Beri ulasan</h2>
            <form id="reviewForm" method="post" action="{% url 'ulasan:submit_ulasan' judul.0 %}">
                {% csrf_token %}
                <div class="form-row">
                    <label for="rating">Rating (1-5):</label>
                    <input type="number" id="rating" name="rating" min="1" max="5" required>
                </div>
                <div class="form-row">
                    <label for="deskripsi">Ulasan:</label>
                    <textarea id="deskripsi" name="deskripsi" rows="4" required></textarea>
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>

        <div class="review-list">
            <h2>Ulasan</h2>
            <ul id="reviews">
                {% for ulasan in ulasans %}
                <li>
                    <div class="ulasan-header">
                        <span class="username">{{ ulasan.1 }}</span>
                        <span class="timestamp">{{ ulasan.2 }}</span>
                    </div>
                    <div class="rating">{{ ulasan.3 }}/5</div>
                    <div class="description">"{{ ulasan.4 }}"</div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
{% endblock content %} 