{% extends 'base.html' %}
{% load static %}

{% block meta %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #333;
        color: white;
    }
</style>
{% endblock meta %}

{% block content %}
<body>

<div class="container">
  <h1 class="text-center mb-4">Trailer</h1>
  <div class="text-center mb-3"><a class="btn btn-secondary" role="button" href="{% url 'show:search_tayangan' %}">Search films and series</a></div>
  
  
  <h2 class="mb-3">10 Tayangan Terbaik Minggu ini</h2>
  <select>
    <option value="global">Top 10 Global</option>
    <option value="local">Top 10 Indonesia</option> <br>
</select>
  <table>
    <tr>
      <th>Peringkat</th>
      <th>Judul</th>
      <th>Sinopsis Trailer</th>
      <th>URL Trailer</th>
      <th>Tanggal Rilis Trailer</th>
      <th>Total View 7 Hari Terakhir</th>
    </tr>
    {% for item in tayangan_first_half %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ item.0 }}</td>
      <td>{{ item.1 }}</td>
      <td><a href="{{ item.2 }}">lihat trailer</a></td>
      <td>{{ item.3 }}</td>
      <td>{{ item.views }}</td>
    </tr>
    {% endfor %}
    {% for item in tayangan_second_half %}
    <tr>
      <td>{{ forloop.counter0|add:6 }}</td>
      <td>{{ item.0 }}</td>
      <td>{{ item.1 }}</td>
      <td><a href="{{ item.2 }}">lihat trailer</a></td>
      <td>{{ item.3 }}</td>
      <td>{{ item.views }}</td>
    </tr>
    {% endfor %}
  </table>

  <h2 class="mt-5 mb-3">Film</h2>
  <table>
    <tr>
      <th>Judul</th>
      <th>Sinopsis Trailer</th>
      <th>URL Trailer</th>
      <th>Tanggal Rilis Trailer</th>
    </tr>
    {% for film in films %}
    <tr>
      <td>{{ film.0 }}</td>
      <td>{{ film.1 }}</td>
      <td><a href="{{ film.2 }}">Lihat trailer</a></td>
      <td>{{ film.3 }}</td>
    </tr>
    {% endfor %}
  </table>

  <h2 class="mt-5 mb-3">Series</h2>
  <table>
    <tr>
      <th>Judul</th>
      <th>Sinopsis Trailer</th>
      <th>URL Trailer</th>
      <th>Tanggal Rilis Trailer</th>
    </tr>
    {% for series in seriess %}
    <tr>
      <td>{{ series.0 }}</td>
      <td>{{ series.1 }}</td>
      <td><a href="{{ series.2 }}">Lihat trailer</a></td>
      <td>{{ series.3 }}</td>
    </tr>
    {% endfor %}
  </table>

  <h2 class="mb-3">Hasil Pencarian</h2>
  <table>
    <tr>
      <th>Judul</th>
      <th>Sinopsis Trailer</th>
      <th>URL Trailer</th>
      <th>Tanggal Rilis Trailer</th>
    </tr>
    {% for result in search_results %}
    <tr>
      <td>{{ result.judul }}</td>
      <td>{{ result.sinopsis_trailer }}</td>
      <td><a href="{{ result.url_trailer }}">Lihat Trailer</a></td>
      <td>{{ result.tanggal_rilis_trailer }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4">No results found.</td>
    </tr>
    {% endfor %}
  </table>
</div>
</body>
{% endblock content %}